# AWS Configuration
AWS_ACCESS_KEY_ID=AKIAWNREQUNE6TK6Y5M7
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-southeast-1

# Qdrant Configuration
QDRANT_URL=https://a15c7255-307c-476b-8067-b79f6dac0c74.us-west-1-0.aws.cloud.qdrant.io

QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.U8yUySqfl97_BvbwvUiK45_xdea3S68r6gQCOOPDcPQ


# Gemini Configuration
GEMINI_API_KEY=AIzaSyDVJBtZe27XWD3aVBha-t25XinVjEQmnQI

# Vector DB Collection Name
VECTOR_COLLECTION=nfl_wiki_gemini_3072

# JWT Secret (for testing)
JWT_SECRET=MY_SUPER_SECRET_KEY_1234567890ABCDEF
